@using Brandoman.Data.Models.ViewModels
@using Brandoman.Common

@{
    Layout = "~/Views/Shared/_LayoutEdit.cshtml";
}

@model IQueryable<ApplicationUserIndexViewModel>

@if (User.IsInRole(GlobalConstants.LocalAdministratorRoleName))
{
    <div class="container">
        <form asp-area="Administration" asp-controller="Category" asp-action="AddEditCategoryTranslation" style="padding-top:5px; min-height:600px">
            <div class="row">
                <div class="panel panel-default panel-table" style="width: 100%">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-xs-6">
                                <h2 class="panel-title">@ViewBag.Title</h2><br />
                            </div>
                            <div class="col col-xs-6 text-right">
                                <button method="GET" asp-area="Identity" asp-page="/Account/Register" class="btn-bootstrap-dialog btn btn-success" style="margin-top: 5px">New User</button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body" style="padding-bottom:1px">
                        <table id="TblCategoryTranslation" class="table table-striped table-bordered table-list">
                            <thead>
                                <tr class="titleTr">
                                    <th class="text-center">
                                        User Name
                                    </th>
                                    <th class="text-center">
                                        Language
                                    </th>
                                    <th class="text-center">
                                        Delete
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var data in Model)
                                {
                                    <tr>
                                        <td style="text-align: left">@data.UserName</td>
                                        <td style="text-align: left">@data.Lang</td>
                                        <td class="text-center" style="text-align: center">
                                            <input type=button class="delete-user-btn btn delete" id=@data.Id />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
}

@section Scripts
{
    <script>
       $(function(){
           var text = "@ViewBag.Toastr";
           if (text != null && text.length > 0) {
                toastr.info("@ViewBag.Toastr");
           }
       })
    </script>
}